<div class="wp-home">
  <div class="wp-home__filter">
    <input
      class="wp-home__filter--search"
      type="text"
      placeholder="Search.."
      name="hola"
      [formControl]="searchControl"
      id="" />
    <button class="wp-home__filter--add" (click)="addNewProduct()">
      Agregar
    </button>
  </div>
  <div class="wp-home__table">
    <div class="wp-home__table--wp">
      <table class="table">
        <tr class="table__header">
          <th>Logo</th>
          <th>Nombre de producto</th>
          <th>Descripcion</th>
          <th>Fecha de liberacion</th>
          <th>Fecha de reestructuracion</th>
          <th></th>
        </tr>
        <ng-container *ngIf="productsFinance$ | async as productFinanceData">
          <tr
            class="table__body"
            *ngFor="let item of productFinanceData; let i = index">
            <td>
              <img
                class="table__body--logo"
                [src]="item.logo"
                alt="Image description" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_release | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.date_revision | date: 'dd/MM/yyyy' }}</td>
            <td>
              <div class="icon-container">
                <span
                  class="table__body--icon"
                  (click)="toggleContextMenu($event, item)"
                  >&#8942;</span
                >
                <div
                  class="context-menu"
                  *ngIf="contextMenuOpen && selectedItem === item">
                  <!-- [ngStyle]="contextMenuStyles" -->
                  <ul>
                    <li (click)="editar(item)">Editar</li>
                    <li (click)="eliminar(item)">Eliminar</li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
    <div class="wp-home__counter">
      <div class="wp-home__counter--result">5 resultados</div>
      <select class="wp-home__counter--select" name="" id="">
        <option value="">5</option>
      </select>
    </div>
  </div>
</div>
